Django>=2.0,<3.0
djangorestframework==3.9.2
psycopg2>=2.7,<3.0
python-dotenv
django-configurations==2.1
ipython
PyJWT==2.4.0
djangorestframework-simplejwt
django-rest-swagger
gunicorn==19.9.0
whitenoise==4.1.2
django-url-filter==0.3.15
